<nav>
    <a href="/">Home</a>
    <a href="/favorites">Favorites Page</a>
    <a href="/favorites/new">Add A Player</a>
    <a href="/favorites/:playerId"></a>
    <!-- <a href="/favorites/:playerId/edit">Edit a Player</a> -->
</nav>