<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Welcome to the Chelsea FC favorite players app!</h1>
    <h2>Here you can browse a list of Chelsea fan's favorite players over the years!</h2>
    <h2>Feel Free to add your own favorites, update entries with new statistics, or delete players you don't like yourself!</h2>
</body>
</html>